<!DOCTYPE html>
<html>
  <head>
    <title>Create Event</title>
  </head>
  <body>
    <div class="container">
      <h1>Create New Event</h1>
      <form action="/events/create" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" required/></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><input type="text" name="description" required/></td>
            </tr>
           
            <tr>
              <td>Date</td>
              <td><input type="date" name="date" required/></td>
            </tr>
            <tr>
              <td>Hour</td>
              <td><input type="time" name="hour" required/></td>
            </tr>
            <tr>
              <td>Poster image (URL)</td>
              <td><input type="image" name="poster" required/></td>
            </tr>
            <tr>
              <td>Number of tickets available</td>
              <td><input type="number" name="nTicketsAvailable" required/></td>
            </tr>
            <tr>
              <!-- Criar um evento com 0 bilhetes comprados inicialmente (hidden) -->
              <td><input type="hidden" type="number" name="nTicketsPurchased" value="0" /></td>
            </tr>
            <tr>
              <td>Price</td>
              <td><input type="number" name="price" required/></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Create</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <h3><a href="/events">Ver todos os events</a></h3>
  </body>
</html>
