<div class="container p-3">
  <h3>Edit Event</h3>
  <form action="/events/create" method="post">
    <div class="form-group row">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Name of event..."
        name="name"
        required
      />
    </div>
    <div class="form-group row">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Description of event..."
        name="description"
        required
      />
    </div>
    <div class="form-group row">
      <label for="location">Location</label>
      <!-- <input
        type="text"
        class="form-control"
        id="location"
        placeholder="Location of event..."
        name="location"
        required
      /> -->
      <select name="location" class="form-control" required>
        <option disabled selected>---</option>
        <% for(var i=0; i<locations.length;i++) { %>
          <option value="<%=locations[i].name%>">
            <%=locations[i].name%>
          </option>
          <% } %>
      </select>
    </div>
    <div class="form-group row">
      <label for="date">Date</label>
      <input
        type="date"
        class="form-control"
        id="date"
        placeholder="Capacity of event..."
        name="date"
        required
      />
    </div>
    <div class="form-group row">
      <label for="time">Time</label>
      <input
        type="time"
        class="form-control"
        id="time"
        placeholder="Time for the event..."
        name="time"
        required
      />
    </div>
    <div class="form-group row">
      <label for="poster">Poster image (URL)</label>
      <input
        type="text"
        class="form-control"
        id="poster"
        placeholder="Poster image of event..."
        name="poster"
        required
      />
    </div>
    <div class="form-group row">
      <label for="nTicketsAvailable">Number of tickets available</label>
      <input
        type="number"
        class="form-control"
        id="nTicketsAvailable"
        placeholder="Number of tickets available..."
        name="nTicketsAvailable"
        required
      />
    </div>
    <div class="form-group row">
      <label for="nTicketsPurchased"></label>
      <input
        type="hidden"
        value="0"
        class="form-control"
        id="nTicketsPurchased"
        name="nTicketsPurchased"
        required
      />
    </div>
    <div class="form-group row">
      <label for="price">Price of the ticket</label>
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="Price of the ticket..."
        name="price"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create</button>
  </form>
</div>