<!DOCTYPE html>
<html>
  <head>
    <title>Event Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Event Detail</h1>
      <table>
        <tbody>
        <tr>
            <td>Id</td>
            <td>:</td>
            <td><%= event._id %></td>
            </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= event.name %></td>
          </tr>
          
          <tr>
            <td>Quantity</td>
            <td>:</td>
            <td>$<%= event.quantity %> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3><a href="/events">Ver todos os event</a></h3>
  </body>
</html>

