<form ngNativeValidate [formGroup]="form" (submit)="submit()" class="form-register">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    <input formControlName="name" type="name" id="inputName" class="form-control" placeholder="Name" required autofocus>

    <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>

    <select formControlName="type" class="form-control" required>
        <option disabled value="User">Select user type</option>
        <option value="User">User</option>
        <option value="Promoter">Promoter</option>
    </select>

    <button class="btn btn-lg btn-primary btn-block" type="submit" >Register</button>
</form>