<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Capacity</th>
        <th scope="col">Limit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <td>{{ location.name }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.capacity }}</td>
        <td>{{ location.limit }}</td>
      </tr>
    </tbody>
  </table>

<ng-container *ngIf="locations.length; else elseBlock">
  <p>{{locations.length}} locations loaded</p>
</ng-container>
<ng-template #elseBlock>
  <p>No locations found</p>
</ng-template>