<div *ngIf="this.authentication.userIsAdmin() || this.authentication.userIsPromoter()">
  <div class="text-align-center mb-5">
    <button class="btn btn-success" data-toggle="modal" data-target="#eventModal">Create Location</button>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Capacity</th>
        <th scope="col">Limit</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <td>{{ location.name }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.capacity }}</td>
        <td>{{ location.limit }}</td>
        <td>
          <div *ngIf="this.authentication.userIsAdmin() || this.authentication.userIsPromoter()">
            <button class="btn btn-warning mr-1">Edit</button> 
            <ng-container *ngIf="this.authentication.userIsAdmin()">
              <button class="btn btn-danger mr-1">Delete</button>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<ng-container *ngIf="locations.length; else elseBlock">
  <p>{{locations.length}} locations loaded</p>
</ng-container>
<ng-template #elseBlock>
  <p>No locations found</p>
</ng-template>