<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Capacity</th>
        <th scope="col">Limit</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let location of locations">
        <td>{{ location.name }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.capacity }}</td>
        <td>{{ location.limit }}</td>
      </tr>
      <ng-container *ngIf="!locations.length">
        <tr>
          <td>&nbsp;</td>
          <td colspan="6">N{{locations.length}} Locations Found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
