<div class="container mt-5">
  <div class="card">
    <div class="card-header">User Details</div>
    <div class="card-body">
      <h5 class="card-title">
        <%= user.name %>
      </h5>
      <p class="card-text">
        <label class="fw-bold"> Email:</label>
        <%= user.email %>
      </p>
      <p class="card-text">
        <label class="fw-bold"> User Type:</label>
        <%= user.type.type %>
      </p>
      <p class="card-text">
        <label class="fw-bold"> Covid:</label>
        <% if(user.covid){ %> 
            Yes 
        <% } else {%>
            No
        <% } %>
      </p>
      <p class="card-text">
        <label class="fw-bold"> Banned:</label> 
        <% if(user.banned){ %> 
            Yes 
        <% } else {%>
            No
        <% } %>
      </p>
    </div>
  </div>
</div>
