<section class="jumbotron text-center">
    <div class="container">
        <h1>Rocano Events</h1>
        <p class="lead text-muted">Your custom tailored event organization tool.</p>
        <p class="p-2">
            <a routerLink="/events" [queryParams]="{date: today_date}" class="btn btn-primary my-2">Check ongoing events for today ({{ today }})</a>
            
            <!-- <br><a routerLink="/events" [queryParams]="{date: this_month}" class="btn btn-primary my-2">Check ongoing events for  ({{ this_month }})</a> -->
        </p>
    </div>
</section>