<p><img src="assets/usersicons/usericon.png" widht="130" height="130"></p>

<p>ID: {{id}}</p>
<p>Name: {{name}}</p>
<p>Email: {{email}}</p>
<p>Type: {{type}}</p>


<!-- <form ngNativeValidate [formGroup]="form" (submit)="submit()" class="form-profile">

    <input [(ngModel)]="id" formControlName="id" type="text" id="inputId" class="form-control" disabled>

    <input value="{{name}}" formControlName="name" type="name" id="inputName" class="form-control" placeholder="Name" required>

    <input value="{{email}}" formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
    
    <input value="{{type}}" formControlName="type" type="type" id="inputType" class="form-control" placeholder="type address" required autofocus>
    
    <input value="{{password}}" formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>

    <select value="{{type}}" formControlName="type" class="form-control" required>
        <option value="User">Select user type</option>
        <option value="User">User</option>
        <option value="Promoter">Promoter</option>
    </select>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
</form> -->

<br><h2>Tickets:</h2>
<!-- TODO -->